/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
}

/* Bold Tag Styling */
strong {
  color: #e2c102;
}

/* Center GIF Output */
.image-output {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 2rem 0 !important;
  text-align: center !important;
}

/* Input Label Styling */
label {
  font-size: 1.05rem;
  color: var(--text-color);
  font-weight: 500;
}

h1 {
  margin-bottom: 2rem;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
    position: absolute;
  bottom: -1rem;
  left: 0;
}
